<html>
    <Head>
        Change a Players Coin Amount
    </Head>



    <body>
        <div>
            <form method="post" action="/set_coins">
            <label for="user_id">User Id:</label><br>
            <input type = "number" id = "user_id" name = "user_id">
            <div>
                <label for="new_amount">New Coin Amount:</label><br>
                <input type = "number" id = "new_amount" name = "new_amount">
                
            </div>
            <div>
                <input type="submit" value="Submit">
            </div>
            </form>
        </div>
    </body>

</html>